/* Figma variables (import generated file) */
@import './styles/figma-variables.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

/* hide scrollbars but keep scroll functionality for interactive containers (tabs row) */
.hide-scrollbar {
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}
.hide-scrollbar::-webkit-scrollbar {
	display: none; /* Chrome, Safari, Opera */
}